<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="httpget.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="httpget.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <httpget.Settings>
            <setting name="Button1" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=1</value>
            </setting>
            <setting name="Button2" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=2</value>
            </setting>
            <setting name="Button3" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=3</value>
            </setting>
            <setting name="Button4" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=4</value>
            </setting>
            <setting name="Button5" serializeAs="String">
                <value>?Function=FadeToBlack</value>
            </setting>
            <setting name="Long1" serializeAs="String">
                <value>?Function=ActiveInput&amp;Input=1</value>
            </setting>
            <setting name="Long2" serializeAs="String">
                <value>?Function=ActiveInput&amp;Input=2</value>
            </setting>
            <setting name="Long3" serializeAs="String">
                <value>?Function=ActiveInput&amp;Input=3</value>
            </setting>
            <setting name="Long4" serializeAs="String">
                <value>?Function=ActiveInput&amp;Input=4</value>
            </setting>
            <setting name="Long5" serializeAs="String">
                <value>?Function=FadeToBlack</value>
            </setting>
        </httpget.Settings>
        <httpget.Settings1>
            <setting name="Button1" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=1</value>
            </setting>
            <setting name="Button2" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=2</value>
            </setting>
            <setting name="Button3" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=3</value>
            </setting>
            <setting name="Button4" serializeAs="String">
                <value>?Function=PreviewInput&amp;Input=4</value>
            </setting>
            <setting name="Button5" serializeAs="String">
                <value>?Function=FadeToBlack</value>
            </setting>
        </httpget.Settings1>
    </userSettings>
</configuration>